<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Predict</title>
</head>
<body>
    <form action="http://localhost:5000/predict_" method="GET">
        ID: <input type="number" name="ID" value="0"><br>
        LIMIT_BAL: <input type="number" name="LIMIT_BAL" value="70000"><br>
        SEX: <input type="number" name="SEX" value="2"><br>
        EDUCATION: <input type="number" name="EDUCATION" value="2"><br>
        MARRIAGE: <input type="number" name="MARRIAGE" value="2"><br>
        AGE: <input type="number" name="AGE" value="26"><br>
        PAY_0: <input type="number" name="PAY_0" value="2"><br>
        PAY_2: <input type="number" name="PAY_2" value="0"><br>
        PAY_3: <input type="number" name="PAY_3" value="0"><br>
        PAY_4: <input type="number" name="PAY_4" value="2"><br>
        PAY_5: <input type="number" name="PAY_5" value="2"><br>
        PAY_6: <input type="number" name="PAY_6" value="2"><br>
        BILL_AMT1: <input type="number" name="BILL_AMT1" value="41087"><br>
        BILL_AMT2: <input type="number" name="BILL_AMT2" value="42445"><br>
        BILL_AMT3: <input type="number" name="BILL_AMT3" value="45020"><br>
        BILL_AMT4: <input type="number" name="BILL_AMT4" value="44006"><br>
        BILL_AMT5: <input type="number" name="BILL_AMT5" value="46905"><br>
        BILL_AMT6: <input type="number" name="BILL_AMT6" value="46012"><br>
        PAY_AMT1: <input type="number" name="PAY_AMT1" value="2007"><br>
        PAY_AMT2: <input type="number" name="PAY_AMT2" value="3582"><br>
        PAY_AMT3: <input type="number" name="PAY_AMT3" value="0"><br>
        PAY_AMT4: <input type="number" name="PAY_AMT4" value="3601"><br>
        PAY_AMT5: <input type="number" name="PAY_AMT5" value="0"><br>
        PAY_AMT6: <input type="number" name="PAY_AMT6" value="1820"><br>
        <br>
        <button type="submit">Отправить</button>
    </form>
</body>
</html>
